annotated-types==0.7.0
anyio==4.4.0
beautifulsoup4==4.12.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
distro==1.9.0
exceptiongroup==1.2.1
frozendict==2.4.4
h11==0.14.0
holidays==0.50
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
idna==3.7
lxml==5.2.2
multitasking==0.0.11
numpy==1.26.4
openai==1.34.0
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.1
peewee==3.17.5
pillow==10.3.0
platformdirs==4.2.2
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
yfinance==0.2.40
